@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background-image: url("./images/new-react-proj.jpg");
  /* background-size: 100vw 100vh; */
  background-size: contain;
  background-repeat: no-repeat;
}
